<div class="login-container">
  <div class="login-card">
    <h2>Bejelentkezés</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Jelszó"
        required
      />
      <button type="submit">Bejelentkezés</button>
    </form>

    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</div>
