<mat-toolbar color="primary" class="navbar">
  <span class="navbar-title">Gas Meter App</span>
  <nav class="navbar-links">
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/report" routerLinkActive="active">Report</a>
    <a mat-button routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn">Profil</a>

    <a mat-button routerLink="/login" *ngIf="!isLoggedIn">Bejelentkezés</a>
    <a mat-button routerLink="/register" *ngIf="!isLoggedIn">Regisztráció</a>
    <button mat-button (click)="logout()" *ngIf="isLoggedIn">Kijelentkezés</button>
  </nav>
</mat-toolbar>
