html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.light-theme {
  --bg-color: #e8f5e9;
  --text-color: #1b5e20;
}


body.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
}
